SUPABASE_URL=https://qsyardefscdrnxrsfqcv.supabase.co
SUPABASE_SERVICE_KEY=
SUPABASE_ANON_KEY=
KAGGLE_ACCOUNT_1_USERNAME=
KAGGLE_ACCOUNT_1_KEY=
KAGGLE_ACCOUNT_2_USERNAME=
KAGGLE_ACCOUNT_2_KEY=
HF_TOKEN=
